<!--
 * @Author: taokexia
 * @Date: 2020-01-28 19:04:33
 * @LastEditTime : 2020-01-28 19:05:08
 * @LastEditors  : Please set LastEditors
 * @Description: 尾部
 * @FilePath: \koa2-weibo-code\src\views\layout\footer.ejs
 -->
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.0/js/bootstrap.min.js"></script>
    <script src="/javascripts/query-object.js"></script>
</body>
</html>