<!--
 * @Author: taokexia
 * @Date: 2020-01-22 16:22:47
 * @LastEditTime : 2020-01-28 19:22:33
 * @LastEditors  : Please set LastEditors
 * @Description: 首页
 * @FilePath: \koa2-weibo-code\src\views\index.ejs
 -->
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>EJS Welcome to <%= title %></p>
  </body>
</html>
